<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <connectionStrings>
        <add name="StudentBeleidDatabase"
             connectionString="Server=localhost,1433;Database=StudentBegeleid;User Id=myUsername;Password=rzq2*YXvXOLw$w7%NNQccI$ubnE0IOM#w;" />
    </connectionStrings>
</configuration>